<section id="intro" class="hero is-dark has-shadow is-small">
  <div class="hero-body">
    <div class="container">
      <div class="headline">
        <h1 class="title">
          Ekriptonomi
        </h1>
        <h2 class="subtitle">
          Membahas Seputar Ekonomi Kripto
        </h2>
      </div>

      <div class="columns">
        <div class="column is-one-third">
          <div class="box">
            <h2 class="has-text-weight-bold is-size-5 has-text-centered">Bagaimana cara kerja mata-uang kripto sebenarnya?</h2>
            <div class="has-text-justified has-text-weight-light">Revolusi ekonomi dunia abad 21 dimulai dari kripto. Namun bagaimana cara kerja sebenarnya masih belum banyak
              orang yang mengetahuinya.</div>
            <div class="has-text-centered button-intro-container">
              <a class="button is-link is-outlined is-rounded is-medium">
                <span class="icon">
                  <i class="fa fa-university"></i>
                </span>
                <span>Mulai Belajar</span>
              </a>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="has-text-weight-bold is-size-5 has-text-centered">Apa itu sebenarnya Bitcoin, Ethereum, IOT dan koin lainnya?</h2>
            <div class="has-text-justified has-text-weight-light">Pelajari uraian lengkap setiap tekhnologi dibalik koin dan token. Temukan jawabannya dengan membaca makalah tekhnis
              asli di setiap tekhnologinya.</div>
            <div class="has-text-centered button-intro-container">
              <a class="button is-link is-outlined is-rounded is-medium">
                <span class="icon">
                  <i class="fa fa-database"></i>
                </span>
                <span>
                  Jelajahi
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="has-text-weight-bold is-size-5 has-text-centered">Ingin berdiskusi ekonomi kripto?</h2>
            <div class="has-text-justified has-text-weight-light">Berdiskusi dengan ribuan orang tentang masa depan uang kripto, aset digital, tekhnologi, protokolnya dan ekonomi dunia.</div>
            <div class="has-text-centered button-intro-container">
              <a class="button is-link is-outlined is-rounded is-medium">
                <span class="icon">
                  <i class="fa fa-comments"></i>
                </span>
                <span>
                  Ke Forum Diskusi
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>